<body class="back">
<div class="tweetnew">

<h1>投稿編集ページ</h1>

<%= form_for @tweet do |f| %>
  <div class="field">
  <%= f.label :何についての投稿？  %>
  <%= f.select :genre, 
  [["nice play!!", "nice play!!"], 
  ["コース", "コース"], 
  ["アイテム", "アイテム"], 
  ["キャラ", "キャラ"]], include_blank: "選択して下さい" %>
</div>

<div class="field">
  <%= f.label :コメント  %>
  <%= f.text_area :about, :size => "30x2" %>
</div>

<div class="field">
  <%= f.label :動画 %>
  <%= f.file_field :movie %>
</div><br>

    <%= f.submit "編集する" %>
  <% end %>

  </div>
</div>