<body class="back">
<div class="tweetnew">




<h1>新規投稿ページ</h1>

<%= form_for @tweet do |f| %>

<div class="field">
    <%= f.label :何についての投稿？  %>
    <%= f.select :genre, 
    [["nice play!!", "nice play!!"], 
    ["コース", "コース"], 
    ["アイテム", "アイテム"], 
    ["キャラ", "キャラ"]], include_blank: "選択して下さい" %>
</div>

<div class="field">
    <%= f.label :コメント  %>
    <%= f.text_area :about, :size => "30x2" %>
</div>

<div class="field">
    <%= f.label :動画 %>
    <%= f.file_field :movie %>
</div>





<%= f.submit "投稿する" %>

<% end %><br>

<%= link_to "一覧に戻る", tweets_path %>

</div>
</div>



