<!DOCTYPE html>
<html>
  <head>
    <title>MkOripuro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/88770ac7f5.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>

  <header class="header">
  <div class="header-inner inner">
    <h1 class="header-title"><%= link_to "MK-Original", root_path %></h1>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item"><%= link_to "新規投稿へ", new_tweet_path, class: "header-nav-item-link" %></li>
        <% if user_signed_in? %>
    <li class="header-nav-item">
     <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-nav-item-link" %></li>
    <% else %>
    <li class="header-nav-item">
    <%= link_to "新規登録", new_user_registration_path, class: "header-nav-item-link" %></li>
    <li class="header-nav-item">
     <%= link_to "ログイン", new_user_session_path, class: "header-nav-item-link" %></li>
     
     <% end %>
       
      </ul>
    </nav>
  </div>
</header>






<main>
<%= yield %>
</main>

</body>

</html>