<!DOCTYPE html>
<html>
  <head>
    <title>MkOripuro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/88770ac7f5.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <header>
  <h1>MKオリプロ</h1>
  <div class="header-list">

  <%= link_to "トップページ", tweets_path %>

  <%= link_to "新規投稿へ", new_tweet_path %>

  <% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
  <% end %>  

   <ul>
    <% if user_signed_in? %>
     <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% else %>
     <li><%= link_to "新規登録", new_user_registration_path %></li>
     <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
   </ul>
  </div>
 </header>
 <main>
  <%= yield %>
 </main>
</body>

</html>

